// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: "/assets/" !default;

$color_4: grey;
$color_5: whitesmoke;
$color_6: white;
$color_7: black;
$section-padding: 100px;
$yellow-main-color: #e8ab25;
$grey-main-color: #374154;
$subtext: #cbc6c0;
$color_8: #374154;
$color_9: #e2e0e5;
$color_10: #0a001a;
$main-transition: 0.3s;
$font-family_1: "Cairo", sans-serif;
$background-color_3: transparent;
$background-color_4: #1b1b1b;
$background-color_5: rgb(239 239 239 / 0.2);
$background-color_6: white;
$background-color_7: rgba(173, 216, 230, 0.5);
$background-color_8: red;
$background-color_9: #515f78;
$background-color_10: rgba(255, 255, 255, 0.21);
$background-color_11: #0a001a;
$background-color_12: #e2e0e5;
$border-color_1: #aaaaaa;
$border-color_2: transparent transparent transparent;
$border-color_3: whitesmoke transparent transparent;
$background-color_1: $grey-main-color;
$background-color_2: $yellow-main-color;
$color_1: $yellow-main-color;
$color_2: $subtext;
$color_3: $grey-main-color;
